In [2]:
import requests
from urllib.parse import quote
import pandas as pd
import numpy as np
import time
import json

In [3]:
API_KEY = "RGAPI-73f368a8-5abe-41e9-8297-b022e477d21c"
GAME_NAME = "X8Scorpio8X"
TAG_LINE = "NA1"  # do not include "#"
REGION = "Americas"

def get_puuid_from_riot_id(game_name, tag_line, api_key, region):
    # URL-encode the game name and tag line
    game_name_encoded = quote(game_name)
    tag_line_encoded = quote(tag_line)
    
    url = f"https://{region}.api.riotgames.com/riot/account/v1/accounts/by-riot-id/{game_name_encoded}/{tag_line_encoded}"
    headers = {"X-Riot-Token": api_key}
    
    response = requests.get(url, headers=headers)
    
    if response.status_code == 200:
        data = response.json()
        return data["puuid"]
    else:
        print(f"Error {response.status_code}: {response.text}")
        return None

# Example usage
puuid = get_puuid_from_riot_id(GAME_NAME, TAG_LINE, API_KEY, REGION)
if puuid:
    print("PUUID:", puuid)

PUUID: vrfSU4Nh3GYoxHi2hLXg_yOczDqdE8WulZzWDLl2RZu6wtmH-e8i629HTEVbu1Uej1CpJZ3JIfXu3w

In [43]:
PUUID = puuid
REGION = "americas"  # match routing region

def get_match_ids(puuid, api_key, region, count=100):
    url = f"https://{region}.api.riotgames.com/lol/match/v5/matches/by-puuid/{puuid}/ids"
    params = {
        "start": 0,
        "count": count  # number of matches to retrieve (max 100 per call)
    }
    headers = {"X-Riot-Token": api_key}
    
    response = requests.get(url, headers=headers, params=params)
    
    if response.status_code == 200:
        return response.json()  # list of match IDs
    else:
        print(f"Error {response.status_code}: {response.text}")
        return None

# Example usage
match_ids = get_match_ids(PUUID, API_KEY, REGION)
if match_ids:
    print("Recent Match IDs:", match_ids)

Recent Match IDs: ['NA1_5344630817', 'NA1_5344601433', 'NA1_5344568732', 'NA1_5344546140', 'NA1_5344490992', 'NA1_5344450710', 'NA1_5344393544', 'NA1_5344369275', 'NA1_5344329639', 'NA1_5343839050', 'NA1_5343819906', 'NA1_5343763274', 'NA1_5343745959', 'NA1_5343707171', 'NA1_5343679593', 'NA1_5343613957', 'NA1_5343573278', 'NA1_5343529584', 'NA1_5343501569', 'NA1_5342992849', 'NA1_5342944672', 'NA1_5342906501', 'NA1_5342868647', 'NA1_5342831384', 'NA1_5341881351', 'NA1_5341122227', 'NA1_5341099101', 'NA1_5341076721', 'NA1_5340015356', 'NA1_5339979888', 'NA1_5339938860', 'NA1_5339898889', 'NA1_5339848963', 'NA1_5339805279', 'NA1_5339764387', 'NA1_5339717890', 'NA1_5339525454', 'NA1_5339184544', 'NA1_5339145751', 'NA1_5339107184', 'NA1_5339061539', 'NA1_5339030682', 'NA1_5338975460', 'NA1_5338074472', 'NA1_5338006815', 'NA1_5337968788', 'NA1_5336550559', 'NA1_5336510101', 'NA1_5336160869', 'NA1_5336143295', 'NA1_5336128941', 'NA1_5335276972', 'NA1_5334930751', 'NA1_5334909429', 'NA1_5334890986', 'NA1_5334454295', 'NA1_5334425484', 'NA1_5334397066', 'NA1_5334359276', 'NA1_5334336529', 'NA1_5334303151', 'NA1_5334126979', 'NA1_5333926979', 'NA1_5333919049', 'NA1_5333909268', 'NA1_5333903835', 'NA1_5333876526', 'NA1_5333848014', 'NA1_5333817556', 'NA1_5333774842', 'NA1_5333738676', 'NA1_5333719602', 'NA1_5333243867', 'NA1_5333219264', 'NA1_5333172998', 'NA1_5333148466', 'NA1_5333122374', 'NA1_5333104107', 'NA1_5333057538', 'NA1_5333012175', 'NA1_5332993252', 'NA1_5332965514', 'NA1_5332942601', 'NA1_5332271151', 'NA1_5332143572', 'NA1_5331693681', 'NA1_5331681337', 'NA1_5331079288', 'NA1_5330119018', 'NA1_5329918905', 'NA1_5329902462', 'NA1_5329887688', 'NA1_5329546476', 'NA1_5329346767', 'NA1_5329324595', 'NA1_5328913232', 'NA1_5328894953', 'NA1_5328844622', 'NA1_5328800729', 'NA1_5328765136']

In [48]:
def parse_match_data(match_data):
    if match_data['info']['queueId'] != 420 and match_data['info']['queueId'] != 400:  # Only solo/duo ranked games or draft pick normal games
        return []

    teams = match_data['info']['teams']
    participants = match_data['info']['participants']

    # Split participants by teamId
    team1_id = teams[0]['teamId']
    team2_id = teams[1]['teamId']
    team1_players = [p for p in participants if p['teamId'] == team1_id]
    team2_players = [p for p in participants if p['teamId'] == team2_id]

    def team_stats(team, players, other_players):
        def get_ping_sum(key):
            return sum(p.get(key, 0) for p in players)

        game_duration_minutes = match_data['info']['gameDuration'] / 60

        # Calculate damage per minute
        magic_dpm = sum(p['magicDamageDealtToChampions'] for p in players) / game_duration_minutes
        physical_dpm = sum(p['physicalDamageDealtToChampions'] for p in players) / game_duration_minutes
        true_dpm = sum(p['trueDamageDealtToChampions'] for p in players) / game_duration_minutes

        # Calculate damageCV (coefficient of variation)
        damage_values = [magic_dpm, physical_dpm, true_dpm]
        mean_damage = sum(damage_values) / len(damage_values)
        std_damage = (sum((x - mean_damage) ** 2 for x in damage_values) / len(damage_values)) ** 0.5 if mean_damage != 0 else 0
        damage_cv = std_damage / mean_damage if mean_damage != 0 else 0

        total_pings = (
            get_ping_sum('allInPings') +
            get_ping_sum('assistMePings') +
            get_ping_sum('commandPings') +
            get_ping_sum('enemyMissingPings') +
            get_ping_sum('enemyVisionPings') +
            get_ping_sum('holdPings') +
            get_ping_sum('getBackPings')
        )

        return {
            'matchId': match_data['metadata']['matchId'],
            'teamId': team['teamId'],
            'win': team['win'],
            'baronKills': team['objectives']['baron']['kills'],
            'dragonKills': team['objectives']['dragon']['kills'],
            'riftHeraldKills': team['objectives']['riftHerald']['kills'],
            'totalGold': sum(p['goldEarned'] for p in players),
            'goldSpent': sum(p['goldSpent'] for p in players),
            'averageChampionExp': sum(p['champExperience'] for p in players) / len(players),
            'wardsPlaced': sum(p['wardsPlaced'] for p in players),
            'allInPings': get_ping_sum('allInPings'),
            'assistMePings': get_ping_sum('assistMePings'),
            'commandPings': get_ping_sum('commandPings'),
            'enemyMissingPings': get_ping_sum('enemyMissingPings'),
            'enemyVisionPings': get_ping_sum('enemyVisionPings'),
            'holdPings': get_ping_sum('holdPings'),
            'getBackPings': get_ping_sum('getBackPings'),
            'totalPings': total_pings,
            'magicDPM': magic_dpm,
            'physicalDPM': physical_dpm,
            'trueDPM': true_dpm,
            'damageCV': damage_cv
        }

    return [
        team_stats(teams[0], team1_players, team2_players),
        team_stats(teams[1], team2_players, team1_players)
    ]


def collect_match_stats(match_ids, api_key):
    all_rows = []
    for i, match_id in enumerate(match_ids):
        url = f"https://americas.api.riotgames.com/lol/match/v5/matches/{match_id}"
        headers = {"X-Riot-Token": api_key}
        
        while True:
            response = requests.get(url, headers=headers)
            if response.status_code == 200:
                match_data = response.json()
                rows = parse_match_data(match_data)
                all_rows.extend(rows)
                break
            elif response.status_code == 429:
                print("Rate limit exceeded. Sleeping for 60 seconds...")
                time.sleep(60)
            else:
                print(f"Failed to retrieve match {match_id}: {response.status_code}")
                break

        time.sleep(1.3)

    return pd.DataFrame(all_rows)

In [51]:
#TESTER SESSION

names_taglines = {"X8Scorpio8X":"NA1"}
puuids = []
region = "americas"

# getting puuids of silver players
for GAME_NAME in names_taglines:
    puuids.append(get_puuid_from_riot_id(GAME_NAME, names_taglines[GAME_NAME], API_KEY, region))

# getting match_ids from players' recent games
match_ids = []
for puuid in puuids:
    match_ids.append(get_match_ids(puuid, API_KEY, region))

match_ids = np.array(match_ids).flatten().tolist()



# collecting match stats
scorpioData = collect_match_stats(match_ids, API_KEY)

# creating Coefficient of variation for each team's damage
scorpioData['damageCV'] = scorpioData[['magicDPM', 'physicalDPM', 'trueDPM']].std(axis=1) / scorpioData[['magicDPM', 'physicalDPM', 'trueDPM']].mean(axis=1)

In [52]:
scorpioData.to_csv("X8Scorpio8X_Data")
scorpioData.size

3916

Collecting data from people who are in silver rank

In [42]:
# each set of names_taglines represents a wave
names_taglines0 = {"Valdivian":"NA1", "Gray Goo":"NA1", "Taljedyn":"2304", "Zalsdunt":"2644", "AdaptedMahoraga":"4375"}
names_taglines1 = {"Bunnie":"9356", "Nizannden":"NA1", "TouchGrass":"2EZ", "LonelyGod":"Osaka", "loosylegumes9":"LL9", "Fordyddoc":"NA1"}

names_taglines2 = {"Paro":"0820", "MicDonuld":"NA1", "prohanp":"NA1", "eGirl Trainer": "queer", "iSejuani":"NA1", "Fartgas12":"NA1"}

names_taglines3 = {"7hunder3":"Lucky", "grinder enjoyer":"nocap", "Atomic":"8541", "LucQie":"NA1", "Konlen":"NA1", "Hide Inside Lux":"NA1"}

In [49]:
# run this cell in waves for each set of names_taglines so that the code actually runs
names_taglines = names_taglines3
puuids = []
region = "americas"

# getting puuids of silver players
for GAME_NAME in names_taglines:
    puuids.append(get_puuid_from_riot_id(GAME_NAME, names_taglines[GAME_NAME], API_KEY, region))

# getting match_ids from players' recent games
match_ids = []
for puuid in puuids:
    match_ids.append(get_match_ids(puuid, API_KEY, region, count=15))

match_ids = np.array(match_ids).flatten().tolist()

In [50]:
# collecting match stats
silver_data = collect_match_stats(match_ids, API_KEY)

#creating Coefficient of variation for each team's damage
silver_data['damageCV'] = silver_data[['magicDPM', 'physicalDPM', 'trueDPM']].std(axis=1) / silver_data[['magicDPM', 'physicalDPM', 'trueDPM']].mean(axis=1)

In [51]:
silver_data.to_csv('silver_data.csv', mode='a', header=False)
silver_data

,matchId,teamId,win,baronKills,dragonKills,riftHeraldKills,totalGold,goldSpent,totalKills,totalDeaths,...,mid,midItems,bot,botItems,sup,supItems,magicDPM,physicalDPM,trueDPM,damageCV
0,NA1_5324219691,100,True,1,3,1,72233,63900,35,32,...,Yone,"[1055, 3032, 3006, 3031, 6673, 6333, 3340]",Xayah,"[3036, 3508, 6675, 1037, 3172, 1053, 3363]",Senna,"[3009, 3071, 1018, 3877, 1038, 1037, 3364]",875.953533,2553.949661,137.628267,1.041256
1,NA1_5324219691,200,False,0,2,0,65632,62650,32,35,...,Ahri,"[3157, 1082, 6653, 3020, 1058, 3118, 3340]",Ashe,"[3006, 3085, 3031, 3072, 6670, 3032, 3340]",Karma,"[3871, 3158, 3118, 3916, 2503, 4005, 3364]",2655.333979,1295.866409,372.110358,0.796972
2,NA1_5323683182,100,False,0,1,1,59621,57425,25,38,...,Xerath,"[1058, 6655, 1082, 3020, 4645, 1058, 3340]",Jinx,"[3032, 3085, 3172, 3031, 3036, 1036, 3340]",Ashe,"[3871, 3006, 3179, 3087, 3044, 1037, 3364]",2103.575130,1283.005181,99.450777,0.867054
3,NA1_5323683182,200,True,1,4,0,69041,62383,38,25,...,Malzahar,"[3040, 6653, 3020, 3802, 3116, 2055, 3340]",Tristana,"[3032, 3006, 3031, 1038, 6675, 3036, 3363]",Shen,"[3876, 3084, 2502, 3076, 1036, 3047, 3364]",1381.056995,1927.585492,182.238342,0.767220
4,NA1_5323657628,100,True,1,2,1,58277,50458,32,7,...,Ziggs,"[4629, 6653, 2055, 3040, 3041, 3020, 3340]",Lucian,"[3508, 3036, 1038, 1055, 2422, 1037, 3340]",Velkoz,"[3871, 3020, 3916, 2503, 2508, 1052, 3364]",1607.214886,2693.445378,280.120048,0.791567
5,NA1_5323657628,200,False,0,2,0,43336,40316,7,32,...,Ahri,"[6657, 3158, 6653, 3108, 0, 0, 3340]",Ezreal,"[0, 3042, 3078, 2021, 0, 3158, 3340]",Braum,"[3876, 1001, 3190, 3109, 0, 0, 3364]",1450.372149,1184.585834,142.905162,0.746299
6,NA1_5323636257,100,True,1,3,0,58318,51200,34,21,...,Neeko,"[2420, 3152, 4646, 1056, 3175, 0, 3340]",Ashe,"[1055, 3032, 3006, 3046, 3072, 0, 3340]",Nautilus,"[3869, 3173, 3075, 3065, 1028, 0, 3364]",1527.392097,2004.765957,131.708207,0.796965
7,NA1_5323636257,200,False,0,1,1,49058,43800,21,34,...,Kassadin,"[1054, 3158, 2031, 6657, 3802, 3070, 3340]",Sivir,"[3032, 3031, 3006, 6675, 1036, 1036, 3340]",Maokai,"[3876, 3009, 3002, 2502, 0, 0, 3364]",942.237082,813.957447,77.617021,0.763307
8,NA1_5322954806,100,True,1,3,0,71212,65663,39,22,...,Akali,"[1082, 4646, 3175, 3089, 4645, 6653, 3340]",Jinx,"[3085, 3172, 6672, 3036, 1053, 1038, 3340]",Velkoz,"[3871, 3175, 6655, 6653, 2503, 0, 3364]",2519.800285,2660.199715,446.305278,0.660994
9,NA1_5322954806,200,False,0,2,1,59711,57168,21,39,...,Akshan,"[3087, 3031, 6676, 1036, 6670, 3013, 3340]",Ezreal,"[1055, 3158, 3078, 3042, 6694, 2021, 3340]",Bard,"[3877, 3742, 6653, 3114, 3009, 3067, 3364]",1648.930100,1711.554922,134.778887,0.766314
10,NA1_5322938417,100,True,0,1,0,32005,26575,17,8,...,Azir,"[1056, 6653, 3020, 1043, 0, 0, 3340]",Jinx,"[1083, 1038, 0, 1055, 3006, 3144, 3340]",Janna,"[3871, 1001, 3504, 0, 0, 0, 3340]",1346.628895,1018.923513,19.886686,0.869147
11,NA1_5322938417,200,False,0,1,0,29369,24885,8,17,...,Malzahar,"[1056, 2503, 3020, 1052, 0, 0, 3340]",Sivir,"[1055, 3508, 3006, 1042, 1042, 0, 3340]",Velkoz,"[6655, 1082, 3871, 0, 0, 1001, 3364]",953.427762,1444.249292,147.422096,0.771796
12,NA1_5322917445,100,True,1,3,1,64159,58300,35,22,...,Syndra,"[6655, 3157, 3020, 3041, 4645, 2055, 3340]",Caitlyn,"[3031, 3006, 6676, 3036, 3086, 1042, 3340]",Poppy,"[3877, 2031, 3742, 8020, 3047, 1057, 3364]",2030.564784,1124.750831,178.405316,0.833441
13,NA1_5322917445,200,False,0,1,0,53859,53033,22,35,...,Hwei,"[1058, 2503, 4645, 3020, 1082, 1058, 3363]",Ashe,"[3032, 3046, 3173, 1036, 1055, 1038, 3340]",Vex,"[3871, 3173, 3040, 6655, 2022, 1052, 3364]",1819.202658,1067.840532,89.833887,0.873892
14,NA1_5322908728,100,False,0,0,0,4736,2750,0,1,...,Fizz,"[1056, 0, 0, 0, 0, 0, 3340]",Ashe,"[1055, 2010, 0, 0, 0, 0, 3340]",NaN,NaN,41.400000,264.600000,0.000000,1.395383
15,NA1_5322908728,200,True,0,0,0,5258,2500,1,0,...,Galio,"[1056, 2003, 0, 0, 0, 0, 3340]",Caitlyn,"[0, 0, 2003, 1055, 0, 0, 3340]",Morgana,"[3865, 2003, 0, 0, 0, 0, 3340]",433.200000,261.300000,3.600000,0.929193
16,NA1_5322407052,100,True,1,4,1,59630,54075,36,22,...,Aurora,"[1056, 3170, 1058, 6655, 4645, 1058, 3364]",Caitlyn,"[1055, 3032, 3031, 3036, 3172, 0, 3340]",Soraka,"[3870, 3222, 6617, 3171, 1026, 3114, 3364]",1131.702128,2321.666667,476.241135,0.714212
17,NA1_5322407052,200,False,0,0,0,50255,48100,22,36,...,Jhin,"[6697, 6676, 3031, 1036, 1036, 1018, 3340]",Ashe,"[3085, 6672, 3006, 3035, 6670, 0, 3340]",Velkoz,"[3871, 3158, 3916, 6655, 2503, 3067, 3364]",1120.567376,1775.390071,317.624113,0.681610
18,NA1_5322385003,100,False,0,0,1,60631,55900,25,46,...,Aurora,"[2055, 1056, 3020, 6655, 4629, 6653, 3340]",Ashe,"[3006, 3032, 3123, 3085, 3072, 1036, 3340]",Annie,"[3871, 3118, 3020, 2503, 6653, 1052, 3364]",1246.156218,1409.784173,402.548818,0.530183
19,NA1_5322385003,200,True,1,4,0,73875,66153,46,25,...,Syndra,"[3009, 3137, 1082, 2503, 3089, 3165, 3340]",Corki,"[3078, 3174, 3042, 6676, 1038, 0, 3364]",Seraphine,"[3871, 2503, 3175, 3040, 1011, 1026, 3364]",1706.731757,1925.272354,490.267215,0.562680
20,NA1_5322289666,100,False,0,1,0,32487,29610,7,27,...,Ahri,"[1056, 2503, 3020, 1058, 3145, 0, 3340]",Caitlyn,"[3006, 6676, 1037, 0, 0, 1055, 3363]",Morgana,"[3871, 2508, 3020, 3147, 1052, 0, 3364]",654.267516,1132.834395,335.159236,0.567534
21,NA1_5322289666,200,True,0,2,1,44461,39308,27,7,...,Taliyah,"[6655, 3020, 3145, 1058, 0, 0, 3364]",Ashe,"[3172, 1083, 3085, 3032, 1055, 0, 3340]",Ziggs,"[3871, 3040, 6655, 3020, 0, 0, 3364]",1564.968153,1554.219745,106.146497,0.780538
22,NA1_5322278720,100,True,0,3,0,41445,36250,21,9,...,Kayle,"[1054, 3115, 3009, 1058, 0, 0, 3340]",Ashe,"[3032, 3046, 1038, 1055, 1083, 3006, 3363]",Teemo,"[3871, 3158, 3916, 3115, 2055, 0, 3364]",1320.137300,1361.739130,188.512586,0.695737
23,NA1_5322278720,200,False,0,0,1,36718,34810,9,21,...,Galio,"[1056, 6664, 3047, 4633, 0, 0, 3340]",MissFortune,"[0, 1018, 3009, 3072, 1038, 1055, 3363]",Soraka,"[3870, 6617, 3158, 3114, 3067, 0, 3364]",1082.562929,1048.695652,126.544622,0.720761
24,NA1_5321773911,100,True,0,3,1,42264,39175,26,8,...,Leblanc,"[1056, 6655, 3175, 4646, 1058, 1058, 3340]",Lucian,"[1055, 6676, 3087, 3006, 1038, 0, 3340]",Annie,"[3871, 3158, 3118, 3802, 1052, 0, 3364]",1494.262561,1422.155592,134.051864,0.752689
25,NA1_5321773911,200,False,0,0,0,30980,27183,7,26,...,Akali,"[1056, 4646, 3020, 1058, 1052, 1052, 3340]",Jinx,"[1055, 3006, 3032, 0, 0, 0, 3340]",Morgana,"[3871, 2420, 2508, 3158, 0, 0, 3364]",1058.654781,509.173420,60.923825,0.920436
26,NA1_5321759351,100,False,0,0,0,40354,37108,11,32,...,Aurora,"[6655, 1056, 4645, 0, 3020, 0, 3340]",KogMaw,"[3085, 3051, 1043, 3006, 3153, 0, 3340]",Lulu,"[3871, 3111, 3504, 4642, 2022, 0, 3364]",1597.717458,956.002468,100.086366,0.849381
27,NA1_5321759351,200,True,1,4,1,58631,52893,32,11,...,Sylas,"[1056, 4645, 1082, 3175, 3152, 3157, 3340]",Samira,"[3035, 6676, 3174, 3031, 0, 0, 3363]",Nautilus,"[3190, 3174, 3109, 0, 0, 3869, 3364]",1129.895126,1768.130783,242.850093,0.731657
28,NA1_5321708247,100,False,0,2,1,81063,77943,48,46,...,Velkoz,"[4645, 3020, 6653, 3116, 2503, 4646, 3363]",Ashe,"[3032, 3046, 3006, 3031, 3072, 3026, 3340]",Shaco,"[3871, 2503, 3020, 6653, 6655, 4005, 3364]",2006.421801,1661.469194,609.763033,0.510225
29,NA1_5321708247,200,True,2,4,0,87742,76118,46,48,...,Xerath,"[3089, 3135, 1052, 4645, 6655, 3175, 3363]",Ezreal,"[3042, 3171, 3078, 3161, 6694, 3155, 3363]",Zoe,"[3877, 3170, 6655, 4645, 3102, 4630, 3364]",2768.909953,1234.075829,396.445498,0.820460
30,NA1_5331666313,100,False,1,0,1,77477,82978,32,51,...,Gangplank,"[3031, 3078, 3158, 6676, 6695, 3036, 3363]",Yunara,"[3006, 3153, 6675, 3072, 3032, 3031, 3363]",Nami,"[4005, 3158, 3870, 3504, 4638, 6620, 3364]",1793.438849,2361.035971,244.086331,0.747353
31,NA1_5331666313,200,True,1,5,0,78389,70183,51,32,...,Ahri,"[3118, 3157, 3175, 1058, 4645, 3916, 3340]",Kaisa,"[3302, 1038, 3046, 3124, 6672, 3172, 3363]",Shen,"[3143, 3748, 3869, 3084, 3047, 0, 3364]",2188.086331,1763.079137,402.791367,0.642578
32,NA1_5331601336,100,False,1,1,0,86210,86435,45,47,...,Anivia,"[2421, 3040, 3116, 1058, 6657, 3158, 3363]",Sivir,"[3026, 3032, 3072, 3031, 3033, 6675, 3363]",Zyra,"[3871, 6653, 3089, 3020, 3116, 3916, 3364]",2043.586207,2008.620690,127.264368,0.787014
33,NA1_5331601336,200,True,1,5,1,89800,79425,47,45,...,Diana,"[3089, 3157, 3175, 3100, 4645, 3102, 3340]",Caitlyn,"[3033, 3139, 3172, 3094, 3031, 6676, 3340]",Zilean,"[2065, 2421, 3876, 3158, 4005, 3040, 3364]",3076.712644,1925.103448,459.517241,0.720556
34,NA1_5331575704,100,True,1,2,1,80848,72215,37,28,...,Annie,"[3157, 3175, 4645, 1058, 3118, 4646, 3364]",Twitch,"[3089, 1082, 3170, 3115, 4645, 3134, 3340]",Ashe,"[3877, 3158, 3179, 3133, 6696, 3123, 3364]",2047.284005,1157.412494,271.129818,0.766504
35,NA1_5331575704,200,False,1,4,0,74430,73063,28,37,...,Malzahar,"[3157, 3020, 3118, 6653, 3116, 1058, 3340]",Draven,"[6695, 6697, 3046, 6676, 3072, 3033, 3340]",Nautilus,"[3876, 3190, 2504, 3109, 0, 3111, 3364]",1031.484271,1862.073549,103.677448,0.880457
36,NA1_5331564714,100,False,0,0,0,37837,34075,7,21,...,Ryze,"[3040, 6657, 2031, 3111, 0, 0, 3340]",Kaisa,"[1055, 6672, 3006, 1052, 1043, 1037, 3340]",TahmKench,"[3876, 2031, 1001, 3084, 3076, 0, 3364]",692.231760,828.583691,119.871245,0.687600
37,NA1_5331564714,200,True,0,3,1,49831,38550,21,7,...,Syndra,"[3040, 6657, 1058, 3020, 0, 0, 3340]",Sivir,"[1055, 3032, 6675, 3172, 0, 0, 3363]",Senna,"[3871, 3170, 3071, 3086, 1042, 0, 3364]",1373.690987,1617.339056,128.497854,0.767995
38,NA1_5331553013,100,False,0,0,1,48281,46970,17,31,...,Katarina,"[1082, 3100, 4645, 3020, 1026, 1058, 3340]",Sivir,"[6675, 3508, 3006, 3031, 0, 0, 3363]",Zac,"[3869, 3158, 3190, 3068, 1082, 0, 3364]",1194.737450,778.268898,124.708598,0.771374
39,NA1_5331553013,200,True,1,4,0,60340,50175,31,17,...,Ahri,"[1056, 3157, 3175, 4628, 3118, 0, 3340]",Vayne,"[1055, 3153, 3006, 3091, 3124, 0, 3363]",Seraphine,"[3158, 3116, 3871, 6617, 2055, 3114, 3364]",1892.371610,1139.411425,549.417196,0.563881
40,NA1_5331313449,100,True,0,3,1,54354,45875,34,16,...,Lux,"[4645, 3113, 3118, 3020, 1056, 2055, 3340]",Kaisa,"[1055, 6672, 3157, 3124, 3302, 3006, 3364]",Leona,"[3047, 3190, 3068, 3876, 1057, 2055, 3364]",1741.564859,2017.021277,131.365820,0.785502
41,NA1_5331313449,200,False,0,0,0,42686,39200,16,34,...,Ahri,"[1056, 3118, 3020, 3145, 0, 2055, 3340]",Samira,"[1055, 6676, 3036, 1001, 1037, 1038, 3340]",TahmKench,"[3876, 3084, 1001, 3075, 0, 0, 3364]",932.367879,948.922443,266.643789,0.543624
42,NA1_5331285498,100,False,1,0,1,54052,51225,17,36,...,Lissandra,"[3157, 3118, 3020, 4645, 1058, 2031, 3340]",Vayne,"[1055, 3153, 3006, 3124, 3051, 0, 3340]",Zoe,"[3871, 1058, 0, 3145, 3020, 6655, 3363]",1791.803097,1065.265487,275.641593,0.726176
43,NA1_5331285498,200,True,0,4,0,61624,50950,36,17,...,Malzahar,"[3116, 6653, 2503, 3158, 1082, 0, 3363]",Kaisa,"[3032, 1053, 3172, 3031, 1038, 0, 3340]",Nami,"[3870, 2055, 4005, 6617, 3171, 3113, 3364]",2228.694690,928.971239,80.840708,1.002138
44,NA1_5331259385,100,True,1,3,1,63074,54175,35,27,...,Yone,"[2031, 6673, 3172, 3153, 1054, 1018, 3363]",Kaisa,"[3032, 3072, 3031, 6675, 3006, 1036, 3340]",Lux,"[2421, 3871, 3175, 6655, 0, 0, 3364]",1571.227096,2022.609661,149.516935,0.783419
45,NA1_5331259385,200,False,0,1,0,56460,53650,27,35,...,Singed,"[3742, 3116, 3009, 6653, 1057, 1028, 3340]",Yunara,"[3031, 1018, 3085, 3035, 3032, 3006, 3340]",Quinn,"[3013, 0, 2031, 3087, 6676, 6672, 3364]",1022.831760,1992.859522,51.438090,0.949465
46,NA1_5331223619,100,False,0,2,0,38389,35475,9,32,...,Leblanc,"[1056, 6655, 3020, 4645, 0, 0, 3364]",Yunara,"[6672, 3085, 2422, 1042, 0, 1083, 3340]",Bard,"[3877, 3742, 3009, 0, 0, 0, 3364]",1093.370014,1019.133425,105.226960,0.744447
47,NA1_5331223619,200,True,0,1,1,51504,44250,32,9,...,Ekko,"[3115, 3175, 3100, 0, 0, 1056, 3340]",Jhin,"[1055, 6676, 3009, 3031, 3086, 0, 3363]",Zilean,"[3916, 3020, 3871, 0, 3113, 4645, 3364]",1733.851444,1381.650619,241.774415,0.696923
48,NA1_5331209385,100,True,0,0,0,35008,29375,19,6,...,Mel,"[3070, 2503, 3108, 1001, 1052, 0, 3340]",Lucian,"[1055, 3508, 1038, 3158, 1037, 1018, 3340]",Milio,"[3870, 6620, 0, 3158, 3114, 1052, 3364]",1459.133127,1024.334365,31.517028,0.872878
49,NA1_5331209385,200,False,0,1,0,23133,21475,4,20,...,Yone,"[1055, 3006, 1043, 1053, 0, 0, 3340]",Yunara,"[1055, 2003, 3032, 3006, 0, 0, 3340]",Soraka,"[3870, 3158, 6617, 1052, 0, 0, 3364]",375.294118,672.879257,71.145511,0.806400
50,NA1_5331174877,100,False,0,1,0,43602,42475,18,36,...,Galio,"[1054, 1082, 6657, 3111, 6664, 0, 3340]",Twitch,"[3031, 6676, 3006, 6670, 1036, 1036, 3364]",Kennen,"[3871, 3157, 3020, 1058, 4646, 1058, 3364]",1375.353411,1211.284573,114.800246,0.761090
51,NA1_5331174877,200,True,1,2,1,55288,49283,36,18,...,Leblanc,"[4645, 3020, 6655, 1082, 2055, 0, 3364]",Yunara,"[3032, 2031, 3172, 3031, 3085, 0, 3363]",Nami,"[3871, 4005, 2065, 3171, 1004, 1052, 3364]",2086.613399,1465.961893,139.729564,0.808051
52,NA1_5331129163,100,False,0,0,0,51627,47955,14,38,...,Ryze,"[3040, 3020, 6657, 3089, 1052, 1052, 3340]",Kaisa,"[1055, 6672, 3006, 3124, 3302, 1053, 3363]",Seraphine,"[3871, 3009, 6653, 1026, 1011, 0, 3364]",1405.840909,1093.125000,86.625000,0.799829
53,NA1_5331129163,200,True,0,4,1,58858,50875,38,14,...,Galio,"[1056, 6664, 3111, 3075, 1057, 1011, 3340]",Jinx,"[6670, 3032, 3172, 3031, 1055, 3085, 3364]",Lux,"[3871, 4646, 0, 3171, 3040, 0, 3364]",2954.488636,750.170455,105.340909,1.176389
54,NA1_5331095955,100,True,1,4,1,75688,64595,44,31,...,Yone,"[6673, 3153, 3172, 3031, 3144, 3044, 3340]",Jhin,"[1038, 6676, 3142, 3009, 3031, 3036, 3340]",Leona,"[3869, 3190, 3047, 3075, 3067, 1031, 3364]",2308.187135,1978.918129,262.777778,0.724156
55,NA1_5331095955,200,False,0,0,0,64912,62158,31,44,...,Akali,"[1054, 3100, 3157, 4645, 3020, 4630, 3340]",Aphelios,"[1055, 6676, 6670, 3036, 3031, 3009, 3363]",Lulu,"[3107, 2065, 3222, 3870, 2055, 3158, 3364]",1312.368421,1801.198830,128.216374,0.796077
56,NA1_5331008259,100,True,1,2,1,76473,63883,38,27,...,Yasuo,"[6672, 6333, 3047, 6673, 3033, 1053, 3363]",Aphelios,"[3033, 1055, 3006, 6676, 3031, 6670, 3363]",Soraka,"[3869, 3067, 3013, 3107, 6617, 2055, 3364]",556.129032,2856.521739,265.441795,1.157807
57,NA1_5331008259,200,False,1,3,0,67214,64243,27,38,...,Zed,"[3134, 6694, 2021, 6699, 3171, 6692, 3364]",Xayah,"[3032, 3072, 1055, 3006, 0, 3031, 3363]",Rell,"[3869, 3190, 2055, 3174, 3076, 3050, 3364]",1176.970547,2157.755961,301.290323,0.766274
58,NA1_5330993404,100,True,2,4,1,73828,67103,38,33,...,Ekko,"[3089, 3157, 3115, 3020, 4645, 3100, 3340]",Jhin,"[6676, 3142, 3009, 3031, 3036, 0, 3363]",Nami,"[3870, 2065, 4005, 6620, 3158, 0, 3364]",1268.795970,1702.337531,413.350126,0.581389
59,NA1_5330993404,200,False,0,1,0,65762,63375,33,38,...,Yunara,"[3031, 3087, 3172, 3085, 0, 0, 3340]",Mel,"[3135, 2503, 3171, 6653, 4645, 0, 3340]",Velkoz,"[3871, 6655, 3175, 4628, 3916, 2022, 3364]",1475.546599,1861.783375,286.186398,0.679896

In [52]:
silver_data["totalInhibitorsTaken"]

0     1
1     2
2     0
3     2
4     2
5     0
6     2
7     0
8     1
9     0
10    0
11    0
12    2
13    0
14    0
15    0
16    2
17    0
18    0
19    2
20    0
21    0
22    0
23    0
24    1
25    0
26    0
27    3
28    0
29    5
30    2
31    1
32    1
33    3
34    2
35    0
36    0
37    2
38    0
39    2
40    0
41    0
42    0
43    1
44    1
45    0
46    0
47    2
48    0
49    0
50    0
51    1
52    0
53    1
54    5
55    0
56    3
57    1
58    3
59    0
Name: totalInhibitorsTaken, dtype: int64