In [1]:
import requests
from urllib.parse import quote
import pandas as pd
import numpy as np
import time
import json

In [3]:
API_KEY = "RGAPI-f28861ce-ac68-4cd6-b801-883371263db1"
GAME_NAME = "X8Scorpio8X"
TAG_LINE = "NA1"  # do not include "#"
REGION = "americas"

def get_puuid_from_riot_id(game_name, tag_line, api_key, region):
    # URL-encode the game name and tag line
    game_name_encoded = quote(game_name)
    tag_line_encoded = quote(tag_line)
    
    url = f"https://{region}.api.riotgames.com/riot/account/v1/accounts/by-riot-id/{game_name_encoded}/{tag_line_encoded}"
    headers = {"X-Riot-Token": api_key}
    
    response = requests.get(url, headers=headers)
    
    if response.status_code == 200:
        data = response.json()
        return data["puuid"]
    else:
        print(f"Error {response.status_code}: {response.text}")
        return None

# Example usage
puuid = get_puuid_from_riot_id(GAME_NAME, TAG_LINE, API_KEY, REGION)
if puuid:
    print("PUUID:", puuid)

PUUID: vrfSU4Nh3GYoxHi2hLXg_yOczDqdE8WulZzWDLl2RZu6wtmH-e8i629HTEVbu1Uej1CpJZ3JIfXu3w

In [4]:
PUUID = puuid
REGION = "americas"  # match routing region

def get_match_ids(puuid, api_key, region, count=20):
    url = f"https://{region}.api.riotgames.com/lol/match/v5/matches/by-puuid/{puuid}/ids"
    params = {
        "start": 0,
        "count": count  # number of matches to retrieve (max 100 per call)
    }
    headers = {"X-Riot-Token": api_key}
    
    response = requests.get(url, headers=headers, params=params)
    
    if response.status_code == 200:
        return response.json()  # list of match IDs
    else:
        print(f"Error {response.status_code}: {response.text}")
        return None

# Example usage
match_ids = get_match_ids(PUUID, API_KEY, REGION)
if match_ids:
    print("Recent Match IDs:", match_ids)

Recent Match IDs: ['NA1_5301958274', 'NA1_5301679760', 'NA1_5301539074', 'NA1_5300777438', 'NA1_5300767414', 'NA1_5299827201', 'NA1_5299689498', 'NA1_5299540428', 'NA1_5299303966', 'NA1_5299258676', 'NA1_5299227403', 'NA1_5299065618', 'NA1_5299054370', 'NA1_5299036599', 'NA1_5299017701', 'NA1_5298812710', 'NA1_5298785933', 'NA1_5298162104', 'NA1_5298134070', 'NA1_5298096012']

In [5]:
def parse_match_data(match_data):
    if match_data['info']['queueId'] != 420:  # Only solo/duo ranked games
        return []

    teams = match_data['info']['teams']
    participants = match_data['info']['participants']

    # Split participants by teamId
    team1_id = teams[0]['teamId']
    team2_id = teams[1]['teamId']
    team1_players = [p for p in participants if p['teamId'] == team1_id]
    team2_players = [p for p in participants if p['teamId'] == team2_id]

    def team_stats(team, players, other_players):
        def get_ping_sum(key):
            return sum(p.get(key, 0) for p in players)

        # Map team positions to column names
        position_map = {
            'TOP': 'top',
            'JUNGLE': 'jung',
            'MIDDLE': 'mid',
            'BOTTOM': 'bot',
            'UTILITY': 'sup'
        }

        
        # Champion name and items per role
        role_data = {}
        for p in players:
            pos = p.get('teamPosition')
            if pos not in position_map:
                continue
            role = position_map[pos]
            champ = p.get('championName')
            items = [p.get(f'item{i}', 0) for i in range(7)]
            role_data[role] = champ
            role_data[f'{role}Items'] = items


        return {
            'matchId': match_data['metadata']['matchId'],
            'teamId': team['teamId'],
            'win': team['win'],
            'baronKills': team['objectives']['baron']['kills'],
            'dragonKills': team['objectives']['dragon']['kills'],
            'riftHeraldKills': team['objectives']['riftHerald']['kills'],
            'totalGold': sum(p['goldEarned'] for p in players),
            'goldSpent': sum(p['goldSpent'] for p in players),
            'totalKills': sum(p['kills'] for p in players),
            'totalDeaths': sum(p['deaths'] for p in players),
            'totalTurretsTaken': sum(p.get('challenges', {}).get('turretTakedowns', 0) for p in players),
            'totalInhibitorsTaken': sum(p['inhibitorKills'] for p in players),
            'averageChampionExp': sum(p['champExperience'] for p in players) / len(players),
            'wardsPlaced': sum(p['wardsPlaced'] for p in players),
            'goldDiff': sum(p['goldEarned'] for p in players) - sum(p['goldEarned'] for p in other_players),
            'allInPings': get_ping_sum('allInPings'),
            'assistMePings': get_ping_sum('assistMePings'),
            'commandPings': get_ping_sum('commandPings'),
            'enemyMissingPings': get_ping_sum('enemyMissingPings'),
            'enemyVisionPings': get_ping_sum('enemyVisionPings'),
            'holdPings': get_ping_sum('holdPings'),
            'getBackPings': get_ping_sum('getBackPings'),
            'totalPings': (
                get_ping_sum('allInPings') +
                get_ping_sum('assistMePings') +
                get_ping_sum('commandPings') +
                get_ping_sum('enemyMissingPings') +
                get_ping_sum('enemyVisionPings') +
                get_ping_sum('holdPings') +
                get_ping_sum('getBackPings')
            ),
            'gameDurationMinutes': match_data['info']['gameDuration'] / 60,
            **role_data
        }

    return [
        team_stats(teams[0], team1_players, team2_players),
        team_stats(teams[1], team2_players, team1_players)
    ]


def collect_match_stats(match_ids, api_key):
    all_rows = []
    for i, match_id in enumerate(match_ids):
        url = f"https://americas.api.riotgames.com/lol/match/v5/matches/{match_id}"
        headers = {"X-Riot-Token": api_key}
        
        while True:
            response = requests.get(url, headers=headers)
            if response.status_code == 200:
                match_data = response.json()
                rows = parse_match_data(match_data)
                all_rows.extend(rows)
                break
            elif response.status_code == 429:
                print("Rate limit exceeded. Sleeping for 60 seconds...")
                time.sleep(60)
            else:
                print(f"Failed to retrieve match {match_id}: {response.status_code}")
                break

        time.sleep(1.3)

    return pd.DataFrame(all_rows)

In [6]:
#TESTER SESSION

names_taglines = {"X8Scorpio8X":"NA1"}
puuids = []
region = "americas"

# getting puuids of silver players
for GAME_NAME in names_taglines:
    puuids.append(get_puuid_from_riot_id(GAME_NAME, names_taglines[GAME_NAME], API_KEY, region))

# getting match_ids from players' recent games
match_ids = []
for puuid in puuids:
    match_ids.append(get_match_ids(puuid, API_KEY, region, count=20))

match_ids = np.array(match_ids).flatten().tolist()



# collecting match stats
scorpioData = collect_match_stats(match_ids, API_KEY)

In [7]:
scorpioData.to_csv("X8Scorpio8X_Data")
scorpioData

,matchId,teamId,win,baronKills,dragonKills,riftHeraldKills,totalGold,goldSpent,totalKills,totalDeaths,...,top,topItems,jung,jungItems,mid,midItems,bot,botItems,sup,supItems
0,NA1_5301958274,100,False,0,0,1,56995,54100,24,40,...,Garen,"[6631, 3046, 6675, 3044, 3067, 3006, 3340]",Nocturne,"[6692, 6696, 3111, 3814, 0, 0, 3340]",Samira,"[3072, 3111, 6676, 3156, 3031, 1018, 3363]",Jinx,"[1055, 3006, 3032, 3085, 0, 0, 3340]",Teemo,"[3020, 3118, 3871, 6653, 3916, 1028, 3364]"
1,NA1_5301958274,200,True,1,5,0,66540,59250,38,24,...,Darius,"[6631, 2019, 3053, 3174, 3742, 1036, 3340]",Nunu,"[3075, 6653, 3174, 3068, 0, 1028, 3340]",Hwei,"[1056, 4646, 2031, 4645, 3175, 3118, 3364]",Tristana,"[1055, 3032, 3031, 3172, 6675, 3036, 3340]",Rell,"[3876, 3190, 3174, 2055, 3075, 3084, 3364]"
2,NA1_5301679760,100,False,0,1,0,43894,39575,24,36,...,Naafiri,"[3047, 3070, 1036, 6692, 3123, 3133, 3363]",Nunu,"[1031, 6653, 3068, 3047, 1028, 0, 3340]",Garen,"[1054, 6631, 3009, 3046, 3044, 0, 3340]",Ashe,"[1055, 2031, 6672, 3006, 1018, 1057, 3340]",Mel,"[3871, 2503, 3020, 6653, 1026, 0, 3364]"
3,NA1_5301679760,200,True,0,2,1,53923,46650,36,24,...,Aatrox,"[1054, 2031, 3161, 3047, 2021, 3133, 3340]",Warwick,"[3111, 6672, 6631, 3067, 0, 0, 3340]",Malzahar,"[2503, 3118, 3175, 6653, 0, 0, 3340]",Twitch,"[1055, 3153, 3170, 3033, 3085, 1038, 3340]",Brand,"[6653, 3020, 3116, 0, 3871, 0, 3340]"
4,NA1_5301539074,100,False,0,2,0,52886,48450,28,32,...,Kayle,"[1026, 3115, 3153, 3006, 3916, 2031, 3340]",Shaco,"[6653, 2503, 4645, 0, 3158, 0, 3364]",Yone,"[3031, 3006, 2003, 0, 3153, 0, 3364]",Aphelios,"[3031, 3172, 6676, 2031, 3123, 1018, 3363]",Seraphine,"[3871, 3114, 2022, 3137, 2503, 3171, 3340]"
5,NA1_5301539074,200,True,0,2,1,60854,57300,32,28,...,Irelia,"[6333, 3181, 3153, 3047, 3091, 3026, 3340]",Kayn,"[3071, 6699, 3111, 1037, 3133, 2019, 3340]",Ryze,"[1056, 6657, 3020, 1058, 4629, 3089, 3340]",Samira,"[1055, 6676, 3047, 3031, 1053, 1037, 3340]",Swain,"[3871, 6653, 0, 3020, 1011, 2003, 3364]"
6,NA1_5300777438,100,False,3,3,0,92606,84775,57,39,...,Malphite,"[6665, 3068, 3174, 3075, 2504, 2502, 3340]",Kayn,"[3814, 3142, 3171, 6701, 3156, 6692, 3340]",Vladimir,"[4629, 3175, 3152, 3089, 3135, 4645, 3340]",Caitlyn,"[1055, 6676, 3172, 3031, 3094, 3036, 3340]",Janna,"[3870, 3107, 6617, 6621, 3170, 4005, 3364]"
7,NA1_5300777438,200,True,0,4,1,88785,82165,39,57,...,Ambessa,"[1054, 6692, 6333, 3111, 3161, 2021, 3340]",Shaco,"[4645, 2503, 3020, 6653, 3157, 1037, 3340]",Anivia,"[3118, 2503, 3040, 3089, 6653, 3135, 3340]",Tristana,"[3006, 3032, 3031, 6675, 3033, 3072, 3340]",Neeko,"[3871, 3152, 3020, 6655, 4645, 3113, 3364]"
8,NA1_5300767414,100,True,0,2,1,46418,38441,24,12,...,Kled,"[1055, 6698, 3047, 6699, 3134, 3133, 3340]",Viego,"[0, 3078, 1053, 1043, 0, 2422, 3340]",Malzahar,"[1056, 3118, 3020, 6653, 3116, 0, 3340]",Ezreal,"[3158, 3078, 3070, 1055, 3133, 1036, 3340]",Milio,"[3870, 2055, 2065, 3158, 3114, 6620, 3364]"
9,NA1_5300767414,200,False,0,1,0,39311,37950,11,25,...,Singed,"[6653, 3116, 3009, 3742, 0, 0, 3340]",Kayn,"[1102, 6699, 3047, 2021, 1028, 0, 3340]",Leblanc,"[4646, 2031, 2055, 3020, 3145, 1058, 3340]",Caitlyn,"[1018, 3072, 1036, 3134, 3158, 0, 3340]",Morgana,"[3871, 6653, 1001, 2420, 0, 1058, 3340]"
10,NA1_5299827201,100,False,0,1,0,56505,53800,23,33,...,Kayle,"[3115, 3009, 3100, 4645, 1058, 0, 3340]",Kayn,"[6701, 3142, 3111, 3814, 3156, 0, 3340]",Karma,"[3067, 3070, 6657, 3158, 3089, 3108, 3340]",Sivir,"[1055, 3006, 3087, 3031, 6675, 6670, 3364]",Taric,"[3869, 3121, 3158, 3076, 3504, 1028, 3340]"
11,NA1_5299827201,200,True,1,4,1,68173,60325,33,23,...,Teemo,"[3115, 3124, 3172, 6675, 3153, 3145, 3364]",Volibear,"[6675, 4629, 3170, 3065, 3066, 1029, 3364]",Hwei,"[1056, 4628, 2503, 3041, 3020, 1058, 3340]",Caitlyn,"[1055, 6676, 3172, 3031, 3094, 3036, 3340]",Brand,"[3871, 2503, 3175, 2508, 3165, 3802, 3340]"
12,NA1_5299689498,100,True,1,4,1,93118,86650,63,55,...,Quinn,"[6672, 3153, 6676, 3814, 3176, 3036, 3340]",Kayn,"[3071, 6699, 3174, 3161, 3053, 2021, 3340]",Sylas,"[3100, 6655, 3157, 3111, 3084, 1058, 3340]",Tristana,"[3032, 3031, 6675, 3036, 3072, 3172, 3340]",Neeko,"[3165, 3157, 3152, 3175, 6655, 4646, 3364]"
13,NA1_5299689498,200,False,1,2,0,93597,88695,55,65,...,Ekko,"[6655, 4646, 3157, 4645, 3040, 3089, 3340]",Lillia,"[3157, 6653, 4633, 3089, 3158, 3116, 3364]",Akshan,"[3031, 3087, 3009, 6676, 3033, 3094, 3340]",MissFortune,"[3031, 3142, 3036, 3006, 6676, 3086, 3340]",Senna,"[3877, 3031, 3009, 3814, 6676, 3094, 3364]"
14,NA1_5299540428,100,True,1,2,1,62629,52545,42,26,...,Kayn,"[1054, 2021, 6692, 3171, 6697, 1037, 3340]",Warwick,"[6631, 3153, 3174, 3076, 0, 0, 3340]",Teemo,"[4645, 6653, 3175, 3118, 0, 0, 3340]",Caitlyn,"[1055, 3031, 3094, 3172, 6676, 3035, 3363]",Karma,"[3871, 3118, 3171, 0, 4005, 6617, 3364]"
15,NA1_5299540428,200,False,0,2,0,48157,47450,26,42,...,Qiyana,"[3035, 6698, 1036, 3047, 6697, 1036, 3364]",Nunu,"[3075, 6653, 3047, 2504, 3024, 0, 3340]",Akali,"[1054, 2420, 3020, 2055, 4645, 4646, 3364]",Ashe,"[3124, 2031, 3085, 3153, 0, 0, 3340]",Rell,"[3876, 3050, 3047, 3075, 1029, 1028, 3364]"
16,NA1_5299303966,100,True,1,2,0,66614,55475,32,16,...,Sett,"[1055, 6631, 3066, 3047, 2501, 3053, 3340]",Kayn,"[3071, 6699, 3047, 3161, 1006, 0, 3340]",Anivia,"[1056, 3118, 3165, 3020, 6653, 1029, 3340]",Vayne,"[1055, 3153, 1038, 3124, 3302, 3006, 3340]",Milio,"[3870, 3504, 6620, 3107, 3158, 0, 3364]"
17,NA1_5299303966,200,False,0,3,1,58979,56925,16,32,...,Sion,"[3075, 3068, 3174, 3748, 3084, 2021, 3340]",Volibear,"[3742, 4629, 3158, 6675, 3211, 3067, 3340]",Caitlyn,"[6676, 6701, 3170, 1038, 1018, 1037, 3340]",Smolder,"[1055, 3508, 3161, 3171, 3031, 1036, 3340]",Swain,"[3871, 3116, 6653, 3175, 0, 0, 3364]"
18,NA1_5299258676,100,False,0,0,0,55698,53593,27,47,...,Jax,"[3078, 1054, 3153, 3111, 6610, 3123, 3340]",Kayn,"[6701, 3142, 3158, 3814, 6696, 3155, 3340]",Karthus,"[4645, 2031, 3070, 2503, 3020, 3803, 3363]",Senna,"[3508, 3006, 3033, 1033, 1036, 0, 3340]",Bard,"[3871, 3009, 3742, 2504, 3076, 1029, 3364]"
19,NA1_5299258676,200,True,1,4,1,68355,61975,47,27,...,DrMundo,"[3065, 3084, 3083, 3009, 2501, 0, 3340]",Hecarim,"[6692, 3170, 3161, 6333, 0, 0, 3340]",Qiyana,"[3142, 6698, 3171, 6697, 3814, 0, 3340]",Mel,"[3040, 3175, 6653, 4645, 2503, 0, 3340]",Zyra,"[3871, 3102, 3020, 6653, 3067, 3916, 3364]"
20,NA1_5299227403,100,False,0,4,0,61080,59060,27,36,...,Teemo,"[3089, 2031, 3006, 6653, 3118, 3145, 3340]",Warwick,"[3047, 6698, 3153, 3075, 3065, 1037, 3364]",Galio,"[4633, 3068, 3047, 3075, 0, 0, 3340]",Caitlyn,"[3031, 3006, 6676, 3094, 3036, 1036, 3340]",Karma,"[3876, 3070, 6617, 6655, 3158, 3504, 3364]"
21,NA1_5299227403,200,True,0,1,1,68122,63125,36,27,...,Gangplank,"[3036, 3142, 6673, 6676, 3031, 6701, 3364]",Kayn,"[3174, 6699, 3071, 2021, 1037, 0, 3340]",Naafiri,"[6694, 6692, 3111, 3161, 0, 0, 3340]",Sivir,"[6675, 3172, 3033, 1036, 0, 3508, 3340]",Blitzcrank,"[3876, 3190, 3173, 3110, 1031, 3076, 3340]"
22,NA1_5299065618,100,True,3,5,0,91506,78105,53,39,...,Shyvana,"[3053, 6672, 3124, 6675, 3153, 6665, 3340]",Maokai,"[6662, 6664, 3075, 3009, 2502, 3110, 3364]",Yasuo,"[3031, 3006, 6673, 6333, 2019, 3153, 3363]",Senna,"[3094, 3087, 3071, 3009, 3031, 2019, 3340]",Alistar,"[3002, 3190, 3009, 3050, 3109, 3076, 3340]"
23,NA1_5299065618,200,False,0,1,1,89101,85925,39,53,...,Teemo,"[4645, 6653, 3170, 3124, 6672, 3153, 3340]",Kayn,"[3071, 6699, 3174, 3161, 3181, 0, 3340]",Azir,"[6653, 3115, 3175, 3089, 3102, 1058, 3340]",Garen,"[6609, 6631, 6610, 3170, 3046, 3071, 3340]",Thresh,"[3876, 3190, 3174, 3050, 3075, 3110, 3364]"
24,NA1_5299054370,100,True,0,2,1,31931,25150,23,6,...,Shen,"[1054, 2003, 3742, 3047, 1028, 0, 3340]",MasterYi,"[0, 3153, 3006, 1043, 1052, 0, 3340]",Ekko,"[1082, 1043, 3152, 3020, 1026, 1052, 3340]",Lucian,"[1055, 2031, 2055, 3158, 1038, 3508, 3340]",Nami,"[3871, 4005, 1001, 0, 0, 0, 3364]"
25,NA1_5299054370,200,False,0,0,0,23975,20475,6,23,...,Kayle,"[1055, 3009, 3145, 0, 0, 0, 3340]",Kayn,"[1102, 6699, 3047, 0, 0, 0, 3340]",Taliyah,"[2031, 1056, 3802, 3145, 3020, 0, 3340]",Caitlyn,"[1055, 6676, 2010, 3006, 2031, 0, 3340]",Poppy,"[3866, 3111, 3742, 0, 0, 0, 3340]"
26,NA1_5299036599,100,False,0,1,0,49179,42335,18,37,...,Illaoi,"[1054, 2003, 2502, 6662, 3047, 0, 3363]",Warwick,"[3153, 3065, 3006, 0, 0, 0, 3340]",Yone,"[1054, 3153, 3006, 6673, 1018, 1037, 3340]",Caitlyn,"[1055, 6676, 3006, 3094, 3036, 1018, 3340]",Nidalee,"[3871, 2031, 3020, 1082, 3100, 1058, 3340]"
27,NA1_5299036599,200,True,1,3,1,58031,54125,37,18,...,Sett,"[3153, 6631, 3174, 2021, 1037, 1028, 3340]",Kayn,"[3071, 6699, 3174, 3161, 1028, 1036, 3340]",Lux,"[3020, 3040, 3165, 3147, 2508, 0, 3340]",Tristana,"[1018, 3032, 3172, 3031, 6675, 3134, 3340]",Blitzcrank,"[3190, 3170, 1031, 3050, 3876, 3066, 3340]"
28,NA1_5299017701,100,True,1,3,1,66148,60733,50,37,...,Darius,"[1055, 6631, 3053, 3047, 3742, 0, 3340]",Nunu,"[3173, 6653, 3152, 1031, 1057, 1028, 3340]",Ezreal,"[3171, 3078, 3161, 6694, 3802, 1052, 3340]",KogMaw,"[6672, 3153, 3172, 3085, 3302, 6675, 3340]",Nautilus,"[3876, 3174, 3084, 3068, 3075, 0, 3340]"
29,NA1_5299017701,200,False,0,2,0,59683,56300,37,50,...,Urgot,"[6665, 3075, 3071, 3047, 3053, 0, 3340]",Sejuani,"[3075, 3068, 3111, 2504, 1011, 1011, 3340]",Kassadin,"[3040, 6657, 3020, 3118, 3089, 0, 3340]",Varus,"[3040, 3115, 4646, 3006, 1052, 1052, 3340]",Maokai,"[3867, 3190, 0, 3068, 3047, 1029, 3364]"
30,NA1_5298812710,100,False,0,1,0,51104,48055,28,33,...,Irelia,"[3153, 3031, 3033, 6673, 1055, 3006, 3340]",Nunu,"[3047, 6653, 3068, 1031, 1028, 0, 3340]",Qiyana,"[2031, 6698, 6697, 3111, 6694, 0, 3340]",Caitlyn,"[6676, 3009, 3094, 0, 0, 0, 3340]",Annie,"[3118, 3871, 3020, 1026, 3916, 1011, 3364]"
31,NA1_5298812710,200,True,1,3,1,60908,51350,33,28,...,Vladimir,"[3075, 3065, 2003, 1028, 3158, 3108, 3340]",Udyr,"[3742, 1028, 6653, 3170, 1082, 1033, 3364]",Yone,"[3031, 3153, 3172, 6673, 0, 0, 3340]",Xayah,"[3032, 3172, 3046, 3031, 3035, 1036, 3363]",Soraka,"[3870, 6617, 3170, 3504, 6621, 1004, 3364]"
32,NA1_5298785933,100,False,0,0,1,42144,39375,16,39,...,Darius,"[1055, 3074, 3047, 0, 6697, 0, 3340]",Nocturne,"[2021, 6631, 3111, 1042, 3044, 0, 3340]",Zoe,"[1056, 6655, 3175, 4645, 0, 0, 3340]",Sivir,"[6675, 3006, 3087, 1018, 1036, 0, 3340]",Velkoz,"[3871, 3020, 6655, 4645, 2055, 0, 3340]"
33,NA1_5298785933,200,True,1,3,0,55126,49091,39,16,...,Yorick,"[1054, 3078, 3047, 3181, 1037, 0, 3340]",Nunu,"[3047, 6653, 3068, 3075, 1028, 0, 3340]",MonkeyKing,"[6692, 0, 3111, 3078, 3071, 1037, 3340]",Brand,"[2503, 6653, 3158, 4645, 1058, 0, 3340]",Ashe,"[3871, 3042, 3179, 1042, 3158, 1036, 3340]"
34,NA1_5298096012,100,True,1,4,1,63071,56075,47,16,...,Heimerdinger,"[3157, 2503, 3175, 6653, 1056, 3145, 3340]",MasterYi,"[3172, 6676, 6695, 3031, 3123, 0, 3340]",Galio,"[1056, 6664, 3174, 2504, 1028, 3076, 3340]",Lucian,"[3006, 6676, 6699, 3036, 3094, 1053, 3364]",Nami,"[3870, 4005, 3171, 6617, 3504, 0, 3364]"
35,NA1_5298096012,200,False,0,0,0,48189,43840,16,47,...,Pantheon,"[6692, 3142, 1053, 3047, 1043, 1037, 3340]",Nunu,"[1102, 6653, 3047, 4629, 0, 0, 3340]",Katarina,"[3157, 4645, 3100, 0, 3111, 1082, 3340]",Jhin,"[1055, 3142, 3009, 6676, 0, 0, 3340]",Neeko,"[3871, 3152, 3157, 3020, 0, 0, 3340]"

Collecting data from people who are in silver rank

In [17]:
names_taglines = {"Paro":"0820", "MicDonuld":"NA1", "prohanp":"NA1", "eGirl Trainer": "queer", "iSejuani":"NA1", "Fartgas12":"NA1", "Guymandudemanguy": "Ocean", "7hunder3":"Lucky", "WHITEsmoke96":"NA1", "grinder enjoyer":"nocap", 
                  "Atomic":"8541", "LucQie":"NA1", "Konlen":"NA1", "Hide Inside Lux":"NA1", "Valdivian":"NA1", "Gray Goo":"NA1"}
puuids = []
region = "americas"

# getting puuids of silver players
for GAME_NAME in names_taglines:
    puuids.append(get_puuid_from_riot_id(GAME_NAME, names_taglines[GAME_NAME], API_KEY, region))

# getting match_ids from players' recent games
match_ids = []
for puuid in puuids:
    match_ids.append(get_match_ids(puuid, API_KEY, region, count=20))

match_ids = np.array(match_ids).flatten().tolist()

In [18]:
# collecting match stats
silver_data = collect_match_stats(match_ids, API_KEY)

In [19]:
silver_data.to_csv("silver_data")
silver_data

,matchId,teamId,win,baronKills,dragonKills,riftHeraldKills,totalGold,goldSpent,totalKills,totalDeaths,...,goldDiff,allInPings,assistMePings,commandPings,enemyMissingPings,enemyVisionPings,holdPings,getBackPings,totalPings,gameDurationMinutes
0,NA1_5299855891,100,False,0,3,0,67323,62633,42,58,...,-10274,13,33,25,73,14,0,19,177,31.850000
1,NA1_5299855891,200,True,1,2,1,77597,68075,58,42,...,10274,0,15,42,10,9,0,4,80,31.850000
2,NA1_5299818587,100,True,1,2,0,64931,56800,33,24,...,11862,8,13,18,34,2,0,5,80,29.933333
3,NA1_5299818587,200,False,0,2,1,53069,48575,24,33,...,-11862,1,5,10,21,11,0,33,81,29.933333
4,NA1_5299791997,100,True,1,4,0,72553,65560,42,27,...,6983,0,16,29,9,13,0,8,75,36.466667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
333,NA1_5281683648,200,False,0,1,0,59279,56700,24,47,...,-12320,1,2,9,21,11,0,3,47,33.216667
334,NA1_5278373384,100,True,1,5,1,91198,80225,51,52,...,6751,2,17,40,30,42,0,11,142,40.866667
335,NA1_5278373384,200,False,1,2,0,84447,76933,52,51,...,-6751,1,7,33,35,8,0,11,95,40.866667
336,NA1_5278349815,100,True,1,3,0,79847,73658,41,42,...,6149,0,14,18,19,17,0,26,94,37.833333
337,NA1_5278349815,200,False,0,2,1,73698,71135,42,41,...,-6149,7,10,43,43,18,0,30,151,37.833333

In [20]:
silver_data["totalInhibitorsTaken"]

0      0
1      2
2      2
3      0
4      2
      ..
333    0
334    2
335    1
336    1
337    1
Name: totalInhibitorsTaken, Length: 338, dtype: int64