In [1]:
import requests
from urllib.parse import quote
import pandas as pd
import numpy as np
import time

In [3]:
API_KEY = "RGAPI-9a4d7af0-07d6-4dda-bea0-cb6265b7fe9d"
GAME_NAME = "X8Scorpio8X"
TAG_LINE = "NA1"  # do not include "#"
REGION = "americas"

def get_puuid_from_riot_id(game_name, tag_line, api_key, region):
    # URL-encode the game name and tag line
    game_name_encoded = quote(game_name)
    tag_line_encoded = quote(tag_line)
    
    url = f"https://{region}.api.riotgames.com/riot/account/v1/accounts/by-riot-id/{game_name_encoded}/{tag_line_encoded}"
    headers = {"X-Riot-Token": api_key}
    
    response = requests.get(url, headers=headers)
    
    if response.status_code == 200:
        data = response.json()
        return data["puuid"]
    else:
        print(f"Error {response.status_code}: {response.text}")
        return None

# Example usage
puuid = get_puuid_from_riot_id(GAME_NAME, TAG_LINE, API_KEY, REGION)
if puuid:
    print("PUUID:", puuid)

PUUID: vrfSU4Nh3GYoxHi2hLXg_yOczDqdE8WulZzWDLl2RZu6wtmH-e8i629HTEVbu1Uej1CpJZ3JIfXu3w

In [4]:
PUUID = puuid
REGION = "americas"  # match routing region

def get_match_ids(puuid, api_key, region, count=20):
    url = f"https://{region}.api.riotgames.com/lol/match/v5/matches/by-puuid/{puuid}/ids"
    params = {
        "start": 0,
        "count": count  # number of matches to retrieve (max 100 per call)
    }
    headers = {"X-Riot-Token": api_key}
    
    response = requests.get(url, headers=headers, params=params)
    
    if response.status_code == 200:
        return response.json()  # list of match IDs
    else:
        print(f"Error {response.status_code}: {response.text}")
        return None

# Example usage
match_ids = get_match_ids(PUUID, API_KEY, REGION)
if match_ids:
    print("Recent Match IDs:", match_ids)

Recent Match IDs: ['NA1_5299827201', 'NA1_5299689498', 'NA1_5299540428', 'NA1_5299303966', 'NA1_5299258676', 'NA1_5299227403', 'NA1_5299065618', 'NA1_5299054370', 'NA1_5299036599', 'NA1_5299017701', 'NA1_5298812710', 'NA1_5298785933', 'NA1_5298162104', 'NA1_5298134070', 'NA1_5298096012', 'NA1_5297797827', 'NA1_5297778326', 'NA1_5297774135', 'NA1_5297727890', 'NA1_5297520078']

In [24]:
def parse_match_data(match_data):
    if match_data['info']['queueId'] != 420:  # Only solo/duo ranked games
        return []

    teams = match_data['info']['teams']
    participants = match_data['info']['participants']

    # Split participants by teamId
    team1_id = teams[0]['teamId']
    team2_id = teams[1]['teamId']
    team1_players = [p for p in participants if p['teamId'] == team1_id]
    team2_players = [p for p in participants if p['teamId'] == team2_id]

    def team_stats(team, players, other_players):
        def get_ping_sum(key):
            return sum(p.get(key, 0) for p in players)

        # Map team positions to column names
        position_map = {
            'TOP': 'top',
            'JUNGLE': 'jung',
            'MIDDLE': 'mid',
            'BOTTOM': 'bot',
            'UTILITY': 'sup'
        }

        # Initialize with None
        champion_positions = {v: None for v in position_map.values()}

        for p in players:
            pos = p.get('teamPosition')
            champ = p.get('championName')
            if pos in position_map:
                column_name = position_map[pos]
                champion_positions[column_name] = champ

        return {
            'matchId': match_data['metadata']['matchId'],
            'teamId': team['teamId'],
            'win': team['win'],
            'baronKills': team['objectives']['baron']['kills'],
            'dragonKills': team['objectives']['dragon']['kills'],
            'riftHeraldKills': team['objectives']['riftHerald']['kills'],
            'totalGold': sum(p['goldEarned'] for p in players),
            'goldSpent': sum(p['goldSpent'] for p in players),
            'totalKills': sum(p['kills'] for p in players),
            'totalDeaths': sum(p['deaths'] for p in players),
            'totalTurretsTaken': sum(p.get('challenges', {}).get('turretTakedowns', 0) for p in players),
            'totalInhibitorsTaken': sum(p['inhibitorKills'] for p in players),
            'averageChampionExp': sum(p['champExperience'] for p in players) / len(players),
            'wardsPlaced': sum(p['wardsPlaced'] for p in players),
            'goldDiff': sum(p['goldEarned'] for p in players) - sum(p['goldEarned'] for p in other_players),
            'allInPings': get_ping_sum('allInPings'),
            'assistMePings': get_ping_sum('assistMePings'),
            'commandPings': get_ping_sum('commandPings'),
            'enemyMissingPings': get_ping_sum('enemyMissingPings'),
            'enemyVisionPings': get_ping_sum('enemyVisionPings'),
            'holdPings': get_ping_sum('holdPings'),
            'getBackPings': get_ping_sum('getBackPings'),
            'totalPings': (
                get_ping_sum('allInPings') +
                get_ping_sum('assistMePings') +
                get_ping_sum('commandPings') +
                get_ping_sum('enemyMissingPings') +
                get_ping_sum('enemyVisionPings') +
                get_ping_sum('holdPings') +
                get_ping_sum('getBackPings')
            ),
            'gameDurationMinutes': match_data['info']['gameDuration'] / 60,
            **champion_positions  # <- add role-champion pairs to final dictionary
        }

    return [
        team_stats(teams[0], team1_players, team2_players),
        team_stats(teams[1], team2_players, team1_players)
    ]



# def collect_match_stats(match_ids, api_key):
#     all_rows = []
#     for match_id in match_ids:
#         url = f"https://americas.api.riotgames.com/lol/match/v5/matches/{match_id}"
#         headers = {
#             "X-Riot-Token": api_key
#         }
#         response = requests.get(url, headers=headers)
#         if response.status_code == 200:
#             match_data = response.json()
#             rows = parse_match_data(match_data)
#             all_rows.extend(rows)
#         else:
#             print(f"Failed to retrieve match {match_id}: {response.status_code}")
#     return pd.DataFrame(all_rows)

def collect_match_stats(match_ids, api_key):
    all_rows = []
    for i, match_id in enumerate(match_ids):
        url = f"https://americas.api.riotgames.com/lol/match/v5/matches/{match_id}"
        headers = {"X-Riot-Token": api_key}
        
        while True:
            response = requests.get(url, headers=headers)
            if response.status_code == 200:
                match_data = response.json()
                rows = parse_match_data(match_data)
                all_rows.extend(rows)
                break
            elif response.status_code == 429:
                print("Rate limit exceeded. Sleeping for 60 seconds...")
                time.sleep(60)
            else:
                print(f"Failed to retrieve match {match_id}: {response.status_code}")
                break

        time.sleep(1.3)

    return pd.DataFrame(all_rows)

In [25]:
#TESTER SESSION

names_taglines = {"X8Scorpio8X":"NA1"}
puuids = []
region = "americas"

# getting puuids of silver players
for GAME_NAME in names_taglines:
    puuids.append(get_puuid_from_riot_id(GAME_NAME, names_taglines[GAME_NAME], API_KEY, region))

# getting match_ids from players' recent games
match_ids = []
for puuid in puuids:
    match_ids.append(get_match_ids(puuid, API_KEY, region, count=20))

match_ids = np.array(match_ids).flatten().tolist()



# collecting match stats
scorpioData = collect_match_stats(match_ids, API_KEY)

In [26]:
scorpioData.to_csv("X8Scorpio8X_Data")
scorpioData

,matchId,teamId,win,baronKills,dragonKills,riftHeraldKills,totalGold,goldSpent,totalKills,totalDeaths,...,enemyVisionPings,holdPings,getBackPings,totalPings,gameDurationMinutes,top,jung,mid,bot,sup
0,NA1_5299827201,100,False,0,1,0,56505,53800,23,33,...,3,0,4,54,32.650000,Kayle,Kayn,Karma,Sivir,Taric
1,NA1_5299827201,200,True,1,4,1,68173,60325,33,23,...,1,0,5,37,32.650000,Teemo,Volibear,Hwei,Caitlyn,Brand
2,NA1_5299689498,100,True,1,4,1,93118,86650,63,55,...,3,0,0,121,44.066667,Quinn,Kayn,Sylas,Tristana,Neeko
3,NA1_5299689498,200,False,1,2,0,93597,88695,55,65,...,9,0,15,96,44.066667,Ekko,Lillia,Akshan,MissFortune,Senna
4,NA1_5299540428,100,True,1,2,1,62629,52545,42,26,...,1,0,8,63,29.600000,Kayn,Warwick,Teemo,Caitlyn,Karma
5,NA1_5299540428,200,False,0,2,0,48157,47450,26,42,...,4,0,2,54,29.600000,Qiyana,Nunu,Akali,Ashe,Rell
6,NA1_5299303966,100,True,1,2,0,66614,55475,32,16,...,10,0,5,67,34.150000,Sett,Kayn,Anivia,Vayne,Milio
7,NA1_5299303966,200,False,0,3,1,58979,56925,16,32,...,6,0,9,71,34.150000,Sion,Volibear,Caitlyn,Smolder,Swain
8,NA1_5299258676,100,False,0,0,0,55698,53593,27,47,...,2,0,0,114,34.200000,Jax,Kayn,Karthus,Senna,Bard
9,NA1_5299258676,200,True,1,4,1,68355,61975,47,27,...,0,0,7,53,34.200000,DrMundo,Hecarim,Qiyana,Mel,Zyra
10,NA1_5299227403,100,False,0,4,0,61080,59060,27,36,...,1,0,1,73,36.533333,Teemo,Warwick,Galio,Caitlyn,Karma
11,NA1_5299227403,200,True,0,1,1,68122,63125,36,27,...,2,0,0,112,36.533333,Gangplank,Kayn,Naafiri,Sivir,Blitzcrank
12,NA1_5299065618,100,True,3,5,0,91506,78105,53,39,...,10,0,48,188,44.283333,Shyvana,Maokai,Yasuo,Senna,Alistar
13,NA1_5299065618,200,False,0,1,1,89101,85925,39,53,...,1,0,6,58,44.283333,Teemo,Kayn,Azir,Garen,Thresh
14,NA1_5299054370,100,True,0,2,1,31931,25150,23,6,...,0,0,2,5,15.866667,Shen,MasterYi,Ekko,Lucian,Nami
15,NA1_5299054370,200,False,0,0,0,23975,20475,6,23,...,2,0,0,33,15.866667,Kayle,Kayn,Taliyah,Caitlyn,Poppy
16,NA1_5299036599,100,False,0,1,0,49179,42335,18,37,...,6,0,2,29,29.483333,Illaoi,Warwick,Yone,Caitlyn,Nidalee
17,NA1_5299036599,200,True,1,3,1,58031,54125,37,18,...,0,0,0,47,29.483333,Sett,Kayn,Lux,Tristana,Blitzcrank
18,NA1_5299017701,100,True,1,3,1,66148,60733,50,37,...,8,0,13,113,32.716667,Darius,Nunu,Ezreal,KogMaw,Nautilus
19,NA1_5299017701,200,False,0,2,0,59683,56300,37,50,...,0,0,6,69,32.716667,Urgot,Sejuani,Kassadin,Varus,Maokai
20,NA1_5298812710,100,False,0,1,0,51104,48055,28,33,...,1,0,0,53,29.116667,Irelia,Nunu,Qiyana,Caitlyn,Annie
21,NA1_5298812710,200,True,1,3,1,60908,51350,33,28,...,1,0,8,38,29.116667,Vladimir,Udyr,Yone,Xayah,Soraka
22,NA1_5298785933,100,False,0,0,1,42144,39375,16,39,...,0,0,0,46,26.633333,Darius,Nocturne,Zoe,Sivir,Velkoz
23,NA1_5298785933,200,True,1,3,0,55126,49091,39,16,...,2,0,6,40,26.633333,Yorick,Nunu,MonkeyKing,Brand,Ashe
24,NA1_5298096012,100,True,1,4,1,63071,56075,47,16,...,3,0,12,64,29.383333,Heimerdinger,MasterYi,Galio,Lucian,Nami
25,NA1_5298096012,200,False,0,0,0,48189,43840,16,47,...,1,0,0,57,29.383333,Pantheon,Nunu,Katarina,Jhin,Neeko
26,NA1_5297797827,100,False,0,0,0,2613,1950,0,0,...,2,0,0,6,1.833333,Ornn,Nunu,Jinx,Malzahar,Milio
27,NA1_5297797827,200,True,0,0,0,2639,2400,0,0,...,0,0,1,3,1.833333,Shen,Viego,Fizz,Twitch,Nautilus
28,NA1_5297778326,100,False,0,1,0,44816,38966,23,32,...,1,0,4,33,26.250000,Singed,MonkeyKing,Sylas,Ezreal,Lux
29,NA1_5297778326,200,True,0,3,1,46717,44705,30,23,...,0,0,1,24,26.250000,Shen,Nunu,Yone,Yasuo,Rakan
30,NA1_5297774135,100,False,0,0,0,3864,2425,0,0,...,0,0,0,0,2.850000,Garen,Briar,Annie,Samira,None
31,NA1_5297774135,200,True,0,0,0,4218,2350,0,0,...,2,0,1,4,2.850000,Vladimir,Nunu,Anivia,Senna,Chogath

Collecting data from people who are in silver rank

In [17]:
names_taglines = {"Paro":"0820", "MicDonuld":"NA1", "prohanp":"NA1", "eGirl Trainer": "queer", "iSejuani":"NA1", "Fartgas12":"NA1", "Guymandudemanguy": "Ocean", "7hunder3":"Lucky", "WHITEsmoke96":"NA1", "grinder enjoyer":"nocap", 
                  "Atomic":"8541", "LucQie":"NA1", "Konlen":"NA1", "Hide Inside Lux":"NA1", "Valdivian":"NA1", "Gray Goo":"NA1"}
puuids = []
region = "americas"

# getting puuids of silver players
for GAME_NAME in names_taglines:
    puuids.append(get_puuid_from_riot_id(GAME_NAME, names_taglines[GAME_NAME], API_KEY, region))

# getting match_ids from players' recent games
match_ids = []
for puuid in puuids:
    match_ids.append(get_match_ids(puuid, API_KEY, region, count=20))

match_ids = np.array(match_ids).flatten().tolist()

In [18]:
# collecting match stats
silver_data = collect_match_stats(match_ids, API_KEY)

In [19]:
silver_data.to_csv("silver_data")
silver_data

,matchId,teamId,win,baronKills,dragonKills,riftHeraldKills,totalGold,goldSpent,totalKills,totalDeaths,...,goldDiff,allInPings,assistMePings,commandPings,enemyMissingPings,enemyVisionPings,holdPings,getBackPings,totalPings,gameDurationMinutes
0,NA1_5299855891,100,False,0,3,0,67323,62633,42,58,...,-10274,13,33,25,73,14,0,19,177,31.850000
1,NA1_5299855891,200,True,1,2,1,77597,68075,58,42,...,10274,0,15,42,10,9,0,4,80,31.850000
2,NA1_5299818587,100,True,1,2,0,64931,56800,33,24,...,11862,8,13,18,34,2,0,5,80,29.933333
3,NA1_5299818587,200,False,0,2,1,53069,48575,24,33,...,-11862,1,5,10,21,11,0,33,81,29.933333
4,NA1_5299791997,100,True,1,4,0,72553,65560,42,27,...,6983,0,16,29,9,13,0,8,75,36.466667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
333,NA1_5281683648,200,False,0,1,0,59279,56700,24,47,...,-12320,1,2,9,21,11,0,3,47,33.216667
334,NA1_5278373384,100,True,1,5,1,91198,80225,51,52,...,6751,2,17,40,30,42,0,11,142,40.866667
335,NA1_5278373384,200,False,1,2,0,84447,76933,52,51,...,-6751,1,7,33,35,8,0,11,95,40.866667
336,NA1_5278349815,100,True,1,3,0,79847,73658,41,42,...,6149,0,14,18,19,17,0,26,94,37.833333
337,NA1_5278349815,200,False,0,2,1,73698,71135,42,41,...,-6149,7,10,43,43,18,0,30,151,37.833333

In [20]:
silver_data["totalInhibitorsTaken"]

0      0
1      2
2      2
3      0
4      2
      ..
333    0
334    2
335    1
336    1
337    1
Name: totalInhibitorsTaken, Length: 338, dtype: int64